<header class='nav_header'>
<div class="logo_box list_style_none">
<li><%= link_to "BogApp", root_path, class:"td_none" %></li>
</div>
<nav class="nav_box">
<ul class="list_style_none">
<li><%= link_to "Home", root_path, class:"td_none" %></li>
<li><a class="td_none", href="#">User Detail </a></li>
<li><a class="td_none", href="#">Most Viewed </a></li>
<li><a class="td_none", href="#">Profile</a></li>
</ul>
</nav>
</header>